
.container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
  
    background-color: #eedddd;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
h1{
    background-color: gold;
    text-align: center;

}